<footer class="page-footer font-small bg-info pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
          <ul class="social-network">
                <li>
                    <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                </li>

                <li>
                  <a href="https://github.com/pirangy/AlimentaFront" target="_blank" class="icoGithub">
                    <i class="fa fa-github-square"></i>
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright  bg-dark text-center py-3">
    <span class="text-light"> © 2021 Copyright: Grupo 1</span>
  </div>
</footer>