#img-cadastro{
  background-image: url(../../assets/img/imagemCadastrar.jpg);
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}

#titulo {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #707070;
  color: #F8F9FA;
  font-weight: bold;
}

.cor-fundo {
  background-image: radial-gradient(
    circle at 37.72% 119.64%,
    #d5f8a0 0,
    #c5f7a2 12.5%,
    #aff19f 25%,
    #92e699 37.5%,
    #6cd890 50%,
    #3bc989 62.5%,
    #00bf88 75%,
    #00b88c 87.5%,
    #00b495 100%);
  border-radius: 20px;
}

.cor-fonte {
  color: #F8F9FA;
  font-weight: bold;
}

.sombra-botao {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
}

.font-size{
  font-size: 15px;
}
