<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light cor-nav shadow-lg">
  <img src="../../assets/img/Alimenta Logotipo (7).png" width="80px" heigth="80px" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold font-menu" href="#txtvideo">Quem Somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold font-menu" href="#card">Missão, Visão e Valores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold font-menu" href="#parceiro">Parceria</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light font-weight-bold font-menu" href="" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fundadores</a>
        <div class="dropdown-menu cor-fundo shadow-sm" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-success font-weight-bold" href="https://www.linkedin.com/in/henrique-uriel/"
            target="_blank">Henrique Uriel</a>
          <a class="dropdown-item text-success font-weight-bold" href="https://www.linkedin.com/in/arielpirangy/"
            target="_blank">Ariel Pirangy</a>
          <a class="dropdown-item text-success font-weight-bold" href="https://www.linkedin.com/in/anapaulasouzadias/"
            target="_blank">Ana Souza</a>
          <a class="dropdown-item text-success font-weight-bold"
            href="https://www.linkedin.com/in/stefani-tosi-35b655140/" target="_blank">Stefani Tosi</a>
          <a class="dropdown-item text-success font-weight-bold" href="" target="_blank">Talita</a>
        </div>
      </li>
    </ul>

    <form class="form-inline d-flex justify-content-end my-2 my-lg-0">
      <div class="form-group">
        <label for="usuario" id="usuario" class="ml-2 font-weight-bold text-white font-menu">Login</label>
        <input [(ngModel)]='userLogin.usuario' class="form-control ml-2 mr-3 font-raleway" type="text" name="usuario"
          id="usuario" placeholder="Digite seu usuário">
      </div>

      <div class="form-group ml-2">
        <label class="font-weight-bold text-white font-menu" for="senha">Senha</label>
        <input [(ngModel)]='userLogin.senha' class="form-control ml-2 mr-3 font-raleway" type="password" name="senha"
          id="senha" placeholder="Sua senha">
      </div>

      <div>
        <button type="submit" class="btn btn-info cor-login ml-2 font-weight-bold text-white shadow font-raleway"
          (click)='entrar()' id='entrar'>Entrar</button>
      </div>
    </form>
  </div>
</nav>
<!--/navbar-->

<!--jumbotron-->
<div class="jumbotron jumbotron-fluid mb-0 cor-jumbo">
  <div class="container">
    <h1 class="display-4 text-white font-italic font-raleway font-weight-bold"><u>Alimenta</u></h1>
    <p class="lead text-white font-tam font-raleway">Unindo propósitos. Salvando vidas.</p>


    <button class="btn btn-info btn-lg font-raleway cor-login font-weight-bold borda-btn shadow-sm"
      routerLink='/cadastrar'>
      Faça Parte
    </button>

  </div>
</div>
<!--/jumbotron-->

<!--Carousel-->

<div id="carouselExampleIndicators" class="carousel slide carousel-fade container mt-3 mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/img/pexels-rodnae-productions-6646864.jpg" alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Combatendo a Fome</h5>
        <p>A <u>Alimenta</u> une ONGs, Produtores de Alimentos e Empresas no combate à fome.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/pexels-rodnae-productions-6646874.jpg" alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Logística Conjunta</h5>
        <p>Através da colaboração entre ONGs, Produtores de Alimento e Empresas, a <u>Alimenta</u> realiza serviços
          sociais com eficiência.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/pexels-rodnae-productions-6646916.jpg" alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fazendo a Diferença</h5>
        <p>Nossas colaborações impactam a vida de pessoas em situação de insegurança alimentar e vulnerabilidade social.
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<!--/Carousel-->


<!--texto e video-->
<div class="container mt-5 mb-5">
  <div class="row mt-5 mb-5" id="txtvideo">
    <div class="col-md-6">
      <h3 class="text-success">O que é a <u><em>Alimenta</em></u>?</h3>
      <p>
        A <u><em>Alimenta</em></u> é uma rede social que promova o contato e o diálogo entre fazendeiros, empresas do
        ramo de alimentação ou produção com ONGs que são responsáveis por cuidar e alimentar pessoas que passam
        necessidades. Esse contato será promovido justamente para que as ONGs tenham doações de alimentos e até mesmo
        ajuda para construírem suas próprias "plantações" e poder ter mais um tipo de fonte para alimentar as pessoas,
        podendo até mesmo gerar trabalho para pessoas da comunidade em relação ao cuidado e cultivo das plantações.
      </p>
    </div>
    <div class="col-md-6">
      <iframe width="540" height="315" src="https://www.youtube.com/embed/zIGfdV58v2I" title="YouTube video player"
        frameborder="0" allow="accelerometer;
          autoplay; clipboard-write; encrypted-media;
          gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!--/texto e video-->

<!--cards-->
<div class="container mt-5">
  <div class="card-deck justify-content-center" id="card">

    <div class="card border-light mb-3 shadow p-3 mb-5">
      <img class="card-img-top" src="../../assets/img/missao.png" alt="missao">
      <div class="card-body">
        <h5 class="card-title text-success">Missão</h5>
        <p class="card-text">
          Lorem ipsum commodo tempor mollis arcu placerat curabitur ipsum sodales, senectus non orci eu at turpis felis
          platea, morbi vitae dolor ut auctor vel felis pellentesque. lorem cubilia id ut fames sagittis auctor odio
          elit, vel fermentum sollicitudin eu augue molestie neque nisi inceptos, condimentum in hendrerit eros nostra
          sodales lacinia.
        </p>
      </div>
    </div>
    <div class="card border-light mb-3 shadow p-3 mb-5">
      <img class="card-img-top" src="../../assets/img/visao.png" alt="visao">
      <div class="card-body">
        <h5 class="card-title text-success">Visão</h5>
        <p class="card-text">
          Lorem ipsum commodo tempor mollis arcu placerat curabitur ipsum sodales, senectus non orci eu at turpis felis
          platea, morbi vitae dolor ut auctor vel felis pellentesque. lorem cubilia id ut fames sagittis auctor odio
          elit, vel fermentum sollicitudin eu augue molestie neque nisi inceptos, condimentum in hendrerit eros nostra
          sodales lacinia.
        </p>
      </div>
    </div>
    <div class="card mb-3 shadow p-3 mb-5">
      <img class="card-img-top" src="../../assets/img/valores.png" alt="valores">
      <div class="card-body bg-light">
        <h5 class="card-title text-success">Valores</h5>
        <p class="card-text">
          Lorem ipsum commodo tempor mollis arcu placerat curabitur ipsum sodales, senectus non orci eu at turpis felis
          platea, morbi vitae dolor ut auctor vel felis pellentesque. lorem cubilia id ut fames sagittis auctor odio
          elit, vel fermentum sollicitudin eu augue molestie neque nisi inceptos, condimentum in hendrerit eros nostra
          sodales lacinia.
        </p>
      </div>
    </div>
  </div>
</div>
<!--/cards-->

<!--parceiro-->
<div class="container d-flex justify-content-center mt-5 mb-5">

  <div class="card bg-light border-light shadow mt-5">
    <div class="card-body mt-5 mb-5" id="parceiro">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="text-success">Parceria</h3>
          <p>
            Lorem ipsum commodo tempor mollis arcu placerat curabitur ipsum sodales, senectus non orci eu at turpis
            felis
            platea, morbi vitae dolor ut auctor vel felis pellentesque. lorem cubilia id ut fames sagittis auctor odio
            elit,
            vel fermentum sollicitudin eu augue molestie neque nisi inceptos, condimentum in hendrerit eros nostra
            sodales
            lacinia. venenatis sem neque nisl vel hac convallis cubilia, nisl tellus amet tempor lacinia congue sagittis
            luctus, aptent sit tellus consequat curabitur elit. porttitor leo dictum tempus condimentum felis turpis
            varius
            etiam sit, facilisis in mollis integer quis fermentum eleifend feugiat, ut tempus gravida at nam fermentum
            convallis arcu.
          </p>
        </div>


        <div class="col-md-6">
          <img src="../../assets/img/genn.jpg" alt="">
        </div>
      </div>

    </div>
  </div>

</div>

<!--/parceiro-->

<!--rodape-->
<footer class="page-footer font-small pt-4 mt-5 cor-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">Acompanhe nossas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/pirangy/AlimentaFront" target="_blank" class="icoGithub">
              <i class="fa fa-github-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light font-weight-bold"> © 2021 Copyright: Grupo 1</span>
  </div>
</footer>
<!--/rodape-->

