#img-bg{
    background-image: url(../../assets/img/imagemEntrar.png);

    min-height: 950px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-box{

    background-color:#00B894;
    border-radius: 20px;

}

p{
    font-family: Raleway;
    color: #F8F9FA;
}

#form-titulo{
    font-family: Raleway;
    color: #F8F9FA;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #707070;
}

#cnpj{
    font-family: Raleway;
    color: #F8F9FA;
}

#info-cnpj{

    font-family: Raleway;
    color:#E2E6EA;
    font-size: small;

}

#senha{
    font-family: Raleway;
    color: #F8F9FA;
}

#entrar{
    font-family: Raleway;
    
}