::ng-deep body {
  background-color: #f5f6fa;
}

.cor-login{
  background-color: #0984e3;
}

.cor-cadastro{
  background-color: #00b894;
}

.borda-btn{
  border-radius: 20pt;
}


.font-tam {
  font-size: 30px;
}

.borda-texto{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2f3542;
  }

.cor-nav{
  background-color: #2ed573;
}

.cor-pipe{
  color: #2f3542;
}

.cor-jumbo{
  background-color: #1abc9c;
}

div.img {
  position: relative;
  width: 100%;
  height: 30%;
}

div.img > div {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  top: 6%;
}

ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
 display: inline;
 margin: 0;
 padding: 5px;
}
.fa{
  font-size: 35pt;
  color: white;
  padding: 10px;
}
.fa-linkedin:hover{
    color:#00a8ff;
}
.fa-github-square:hover{
  color: #2f3640;
}

.font-raleway{
  font-family: Raleway;
}