<!--Central-->
<div class="container-fluid">

  <div class="row cor-fundo d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-50"> Seja bem vindo(a)! </h1>
          <h5 class="fs-18"> Contribua com o seu melhor</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem" data-toggle="modal"
            data-target="#novaPostagem">Nova Postagem</button>
          <a class="btn btn-outline-light" href="#postagens">
            Ver Postagens
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img src="../../assets/img/pexels-julia-m-cameron-6995221.jpg" alt="" width="950px" height="650px">
    </div>
  </div>
</div>
<!--/Central-->

<!--Visualização de Postagens-->
<!--Tabs-->
<div class="container mb-5 mt-5" id="postagens">
  <nav class="cor-fundo-vis">
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-dark font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">
        Todas as Postagens
      </a>

      <a (click)='findByIdUSer()' class="nav-item nav-link text-dark font-weight-bold" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">
        Minhas Postagens
      </a>

      <a class="nav-item nav-link text-dark font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
        href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">
        Postagens por Tema
      </a>

    </div>
  </nav>

  <!--/Tabs-->

  <!--Cards-->
  <div class="tab-content container mt-5" id="myTabContent">

    <div class="tab-pane fade show active mb-0" id="todasPostagens" role="tabpanel"
      aria-labelledby="nav-todasPostagens-tab">

      <div class="row d-flex justify-content-center align-items-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo" placeholder="Pesquisando por uma postagem específica?"
              [(ngModel)]="tituloPost" (keyup)='findByTituloPostagem()'>
          </div>
        </div>
      </div>

      <div class="card-columns">
        <div class="card d-inline-block" id="cards_landscape_wrap-2"
          *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-flyer">

            <div class="card-body">
              <div class="image-box">
                <img class="card-img-top mx-auto d-block" src="{{item.imagem}}" alt="Imagem de capa da postagem">
              </div>
              <h5 class="card-title m-0 mt-4">{{item.titulo}}</h5>
              <small class="text-muted mb-3">Tema: {{item.tema.descricao}}</small>
              <p class="card-text">{{item.texto}}.</p>
              <p class="card-text"><small class="text-muted">{{item.dataHora}}</small></p>
              <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small></p>

              <button class="btn btn-like" (click)="liked(item)">
                <!-- <span *ngIf="!item.liked" class="btn-icon btn--icon-default">
                  <span class="fa fa-heart">1</span>
              </span> -->
                <!-- <span *ngIf="item.liked" class="btn-icon btn--icon-liked">
                  <span class="fa fa-heart">2</span>
              </span> -->
                <!-- <span *ngIf="!item.liked"  class="btn-content  btn-content--liked">
                  Liked
              </span> -->
                <span [ngClass]="{'liked':item.liked}" class="fa fa-heart btn-icon "></span>
                <span class=" ml-3 btn-content btn-content--default" [ngClass]="{'liked':item.liked}">
                  {{item.liked==true?'Liked':'Like'}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card-columns">

        <div class="card d-inline-block" id="cards_landscape_wrap-2"
          *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-flyer">
            <div class="card-body">

              <div class="image-box">
                <img class="card-img-top mx-auto d-block" src="{{item.imagem}}" alt="Imagem de capa da postagem">
              </div>

              <h5 class="card-title m-0 mt-4">{{item.titulo}}</h5>
              <small class="text-muted mb-3">Tema: {{item.tema.descricao}}</small>
              <p class="card-text">{{item.texto}}.</p>
              <p class="card-text"><small class="text-muted">{{item.dataHora}}</small></p>

              <div class="row justify-content-center">
                <button [routerLink]="['/postagem-edit', item.id]" type="button" class="btn btn-outline-info mr-2">
                  Editar
                </button>
  
                <button [routerLink]="['/postagem-delete', item.id]"  type="button" class="btn btn-outline-danger shadow font-raleway justify-content-center">
                  Apagar
                </button>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo" placeholder="Pesquise um tema" [(ngModel)]="nomeTema"
              (keyup)='findByNomeTema()'>
          </div>
        </div>
      </div>


      <div class="card-columns" *ngFor='let tema of listaTemas'>

        <div class="card d-inline-block" id="cards_landscape_wrap-2"
          *ngFor='let item of tema.postagem | orderBy : key : reverse'>

          <div class="card-flyer">
            <div class="card-body">
              <img class="card-img-top" src="{{item.imagem}}" alt="Imagem de capa da postagem">
              <h5 class="card-title m-0 mt-4">{{item.titulo}}</h5>
              <p class="card-text">{{item.texto}}.</p>
              <p class="card-text"><small class="text-muted">{{item.dataHora}}</small></p>

              <p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small></p>

              <button class="btn btn-like" (click)="liked(item)">
                <!-- <span *ngIf="!item.liked" class="btn-icon btn--icon-default">
                  <span class="fa fa-heart">1</span>
              </span> -->
                <!-- <span *ngIf="item.liked" class="btn-icon btn--icon-liked">
                  <span class="fa fa-heart">2</span>
              </span> -->
                <!-- <span *ngIf="!item.liked"  class="btn-content  btn-content--liked">
                  Liked
              </span> -->
                <span [ngClass]="{'liked':item.liked}" class="fa fa-heart btn-icon "></span>
                <span class=" ml-3 btn-content btn-content--default" [ngClass]="{'liked':item.liked}">
                  {{item.liked==true?'Liked':'Like'}}
                </span>
              </button>


            </div>
          </div>
        </div>
      </div>
    </div>


      <!--/Cards-->

      <!--/Tabs-->
      <!--/Visualização de Postagens-->

      <!-- Modal -->
      <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="titulo">Título</label>
                <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                  placeholder="Mínimo de 6 caracteres">
              </div>

              <div class="form-group">
                <label for="texto">Texto</label>
                <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"
                  placeholder="Escreva sobre sua causa e não esqueça de colocar suas informações de contato. Mínimo de 20 caracteres">></textarea>
              </div>

              <div class="form-group">
                <label for="titulo">Imagem</label>
                <input [(ngModel)]='postagem.imagem' type="text" class="form-control" id="imagem"
                  placeholder="Insira o link de uma imagem ilustrativa">
              </div>


              <div class="form-group">
                <label for="tema">Escolha um tema ou <a routerLink='/tema' data-dismiss="modal">cadastre um
                    novo</a>:</label>
                <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                  <option *ngFor='let item of listaTemas' value="{{item.id}}">
                    {{item.descricao}}
                  </option>
                </select>
              </div>



            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">
                Publicar
              </button>
            </div>
          </div>
        </div>
      </div>