::ng-deep body {
  background-color: #f5f6fa;
}

.fs-50{
  font-size: 50pt;
}

.fs-18{
  font-size: 18pt;
}

.cor-fundo{
  background-color: #43a591;
}

.cor-jumbo{
  background-color: #1abc9c;
}


/*Cards*/

.card-img-top{
  width: 260px;
  height: 230px;
  border-radius: 4px;
  padding: 5px;
}

  #cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
  }

#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*Like*/

:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --black: #000;
}


.btn-like {

  outline: 0;
  border: 2px solid #ccc;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  /*display:flex;*/
  justify-content: space-between;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
  transition: 2.5s cubic-bezier(.21,.04,.26,.99);


  padding: 1.0rem 1.0rem 1.0rem 1.0rem;
  font-size: 1rem;
  border-radius: 10px;
  background: #fff;
  transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}

.btn-like:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  border-color: var(--red);
}

.btn-like.liked {
  background: var(--red);
  border-color: var(--red);
}

.btn-like.liked:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  border-color: var(--red);
}

/*-- Button Icon -- */
.btn-icon {
  display: inline-block;
  width: 10px;
  /* position: absolute; */
  left: 1.5rem;
  transition: 1s cubic-bezier(.21,.04,.26,.99);
  transform: rotate(0deg)
}

.btn-like:hover .btn-icon {
  color: var(--red);
}

.liked {
  transition: transform 0.1s ease;
  color: var(--red);
}

.btn-like.liked:hover .btn-icon {
  color: var(--black);
}

.liked .btn--icon-default {
  transform: rotate(-90deg)
}

.btn-like:not(.liked).btn--icon-liked {
  transform: rotate(-90deg)
}

.liked .btn--icon-default,
.btn--icon-liked {
    opacity: 0;
    color: #fff;
    position: absolute;
}

.btn--icon-default,
.liked .btn--icon-liked {
    opacity: 1;
    left: 1.5rem;
}

/*-- Button Content -- */
.btn-content {
  transition: transform 0.1s ease;
  display: inline-block;
  /*position: absolute;
  right: 0;*/
}

.liked .btn-content {
  color: var(--white);
}
.btn:hover.liked .btn-content {
  color: var(--black);
}
.btn:not(.liked) .btn-content--liked {
  transform: translate(110px)
}

/*.btn:not(.liked) .btn-content--default {
  transform: translate(-56px)
}*/

.liked .btn-content--default {
  transform: translate(24px);
  margin-left: 20px !important;
}


